body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/backOne.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-size: 16px;
    font-family: "Source Sans Pro", Arial, serif;
}

@media(max-width: 1300px){
    #user_name{
        display: none;
    }
}

.ic{
    display: none;
}

@media(max-width: 600px){
    .eng_logo{
        display: none;
    }
    body{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/biForPhone.jpg);
    }

    #myLinks{
        display: none;
    }

    .ic{
        display: inline;
    }
    .ms{
        width: 480px;
        height: 250px;
    }
    .qs{
        width: 480px;
        height: 250px;
    }
}

.header {
    border-bottom:3px solid #000;
    opacity: 0;
    background-color: #fff;
}

.list-of-topics{
    display: flex;
    justify-content: space-around;
}

.list-of-topics>a{
    color:#000;
    font-weight: bold;
    font-size: 18px;
}

.wrapper {
    left: 20px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 22px;
    font-weight: 600;
    align-items: center;
}

.student_profile>* {
    margin-right: 15px;
    cursor: pointer;
}

.profile {
    position: absolute;
    right: 20px;
}

.student_profile {
    margin-top: 9px;
}

#user_photo, #burgericon {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

#burger{
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px ;
}

#logout {
    height: 37px;
    width: 40px;
}

.form_info {
    margin-left: 30px;
}

.info {
    height: 500px;
    margin-top: 120px;
    border-radius: 2%;
    width: 350px;
    z-index: 2;
    opacity: 0;
    position: absolute;
    left: 40%;
    background-color: gainsboro;
    border: 1px black solid;
}

.login {
    margin: 0 auto;
    width: 350px;
    opacity: 0.9;
    height: 320px;
    text-align: center;
    margin-top: 200px;
    border-radius: 2%;
    padding: 20px;
    border: 2px solid black;
}

#registr {
    margin-right: 15px;
}

.form {
    margin: 0 auto;
    border: 2px solid black;
    width: 350px;
    opacity: 0.9;
    height: 330px;
    margin-top: 200px;
    text-align: center;
    border-radius: 2%;
    padding: 20px;
}

#load {
    width: 23px;
    height: 20px;
    cursor: pointer;
}

#section1 {
    height: auto;
    background-color: white;
}

#section3{
    background-color: white;
    padding: 20px;
}
#section4 {
    text-align: center;
    height: auto;
    background-color: wheat;
    padding-top: 100px;
}

#section5 {
    padding: 20px;
    text-align: center;
    height: auto;
    background-color: white;
}

#section6{
    padding: 20px;
    height: auto;
    background-color: white;
}
.main-container{
    display: none;
    position: absolute; 
    margin-top: 20px;
}

.sorting{
    display: inline-block;
    margin: 20px;
}

.book-store{
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   padding-bottom: 100px;
}

.book{
    height: 290px;;
    width: 200px;
    background-color: #fff;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 2%;
}

.book>img{
    width: 180px;
    height: 220px;
    margin: 10px;
}

.site-links{
    height: auto;
    text-align: center;
}

.site-links>div{
    margin-bottom: 20px;
    border-bottom: 3px solid black;
}

.site-links>div>p>a{
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.p-acmp{
    margin-top: 8px;
}

.p-cf{
    margin-top: 5px;
    margin-left: 5px;
}

.p-leetcode{
    margin-top: 6px;
    margin-left: 5px;
}

.p-course{
    margin-top: 10px;
    margin-left: 5px;
}


#map {
    height: 300px;
    width: 500px;
  }

.contacts>div>img{
    height: 30px;
    width: 30px;
}

.footer{
    display:flex ;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.section-footer{
    height: auto;
    justify-content: center;
    text-align: center;
}
.contacts{
    margin-right: 20px;
}
#cont{
    text-align: left;
}

.contacts>div>img{
    margin-right: 5px;
}

.contacts>div{
    text-align: left;
    margin-top: 20px;
    cursor: pointer;
}
.bc {
    background-color: white;
  }
  body {
    overflow: hidden;
  }
  ul {
    list-style: none;
    margin-top: 15px;
  }
  ul li {
    display: inline-block;
    margin-right: 20px;
  }
  ul li a {
    color: #140a69;
    transition: 0.9s;
  }
  ul li a:hover {
    color: #6151ee;
  }
  ul .active a {
    color: #6151ee;
  }
  .access,
  .info,
  .header {
    display: none;
  }
  .form_info,
  .info_box,
  .box {
    display: inline;
  }
  .student_profile,
  .wrapper {
    display: flex;
  }

  .login,
  .form {
    background-color: white;
  }
  
